*{
    margin: 0;
}
.container{
    width: 90%;
    max-width: 1400px;
    min-width: 400px;
    margin: 0 auto;
}
/* Navigation */
.header{
    background-color: dodgerblue;
    width: 100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    z-index: 999;
}

#logoLM{
    border-radius : 30%;
}

.logo{
    color: aliceblue;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
.menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.menu li{
    margin-right: 30px;
}
.menu li a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}

.menu li a:hover{
    color: yellow;
}

.login-button{
    background-color: aliceblue;
    padding: 5px 15px;
}
.login-button .login-link , .login-button .login-link:hover{
    color: dodgerblue;
}
.logo-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-box img{
    margin-right: 10px;
}